<h1>Feed</h1>
<div class="row">
  <div class="col md-6 offset-3">
<%= render partial: "shared/tabs" %>
</div>
</div>
<ul class="list-group">
<% @user.feed.each do |item| %>

  <li class="list-group-item"><%= image_tag("#{item.image}") %></li>
<% end %>
</ul>
